@font-face {
    font-family: 'KdamThmor-Regular';
    src: url('../fonts/KdamThmor-Regular.eot');
    src: local('KdamThmor-Regular'),
        url('../fonts/KdamThmor-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rajdhani-Light';
    src: url('../fonts/Rajdhani-Light.ttf');
    src: local('Rajdhani-Light'),
        url('../fonts/Rajdhani-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* { outline: none; }
#clear {clear: both;}
body > *:not(input) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    font-family: 'El Messiri';
    overflow: hidden;
}
.fightBox {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(80, 80, 80, 0.8);
    border-radius: 5px;
    color: white;
    padding: 10px;
    direction: rtl;
    width: 800px;
    box-shadow: 0 10px 10px -10px black;
}
.fightBox .title {
    font-size: 40px;
    margin: 10px;
    text-align: center;
}
.fightBox .input input {
    border-style: none;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0;
    color: white;
}
.fightBox .teams {
    display: flex;
}
.fightBox .teams .item {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
.fightBox .teams .title2 {
    font-size: 25px;
}
.fightBox .teams .item.team1 {
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0.04), transparent);
    border-right: 2px solid rgba(255, 0, 0, 0.5);
}
.fightBox .teams .item.team2 {
    background-image: linear-gradient(to left, rgba(0, 255, 0, 0.04), transparent);
    border-right: 2px solid rgba(0, 255, 0, 0.5);
}
.fightBox .round {
    display: flex;
}
.fightBox .round .item {
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 25px;
    transition: all 0.7s ease;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.8);
}
.fightBox .round .item:hover {
    background-color: black;
    color: white;
}
.fightBox .start {
    margin-top: 10px;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 25px;
}
.fightBox .round .item.selected {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}
.game_round {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.game_round .ftitle {
    position: relative;
    text-align: center;
    color: black;
    width: 200px;
    height: 50px;
    padding: 10px;
}
.game_round .ftitle::after {
    content: '';
    position: absolute;
    top: -15px;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(200, 200, 200, 1);
    transform: perspective(1em) rotateX(10deg) scale(1, 0.35);
}
.game_round .background1 {
    position: absolute;
    width: 500px;
    height: 80px;
    top: 31px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.game_round .background1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(ellipse at 0% 0%, rgba(0, 0, 0, 0.5), transparent, transparent), radial-gradient(ellipse at 100% 0%, rgba(0, 0, 0, 0.7), transparent, transparent);
    transform: perspective(0.5em) rotateX(1deg);
}
.game_round .background1::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 50%;
    width: 100px;
    height: 10px;
    background-color: rgba(200, 200, 200, 1);
    transform: translate(-50%, 0%) perspective(1em) rotateX(-20deg);
    z-index: 11;
}
.mainFight {
    display: none;
}
.mainFight .items {
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translate(-50%, 0%);
    text-align: center;
}
.mainFight .items .item {
    display: inline-block;
}
.mainFight .items .team_1, .mainFight .items .team_2 {
    width: 100px;
    padding: 10px 20px;
    font-size: 25px;
}
.mainFight .items .team_1 {
    text-align: right;
    position: relative;
    z-index: 1;
    transform: perspective(1em) rotateY(1deg);
}
.mainFight .items .team_2 {
    text-align: left;
    position: relative;
    z-index: 1;
    transform: perspective(1em) rotateY(-1deg);
}
.mainFight .items .team_2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    z-index: -1;
    border-radius: 10px;
}
.mainFight .items .team_2::before {
    content: '';
    position: absolute;
    top: -5px;
    border-radius: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.5);
    z-index: -100;
}
.mainFight .items .team_1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    z-index: -1;
    border-radius: 10px;
}
.mainFight .items .team_1::before {
    content: '';
    position: absolute;
    top: -5px;
    border-radius: 5px;
    left: -5px;
    width: 100%;
    height: 100%;
    background: rgba(0, 255, 0, 0.5);
    z-index: -100;
}
.mainFight .items .team_1 .avatar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    overflow: hidden;
    height: 100%;
}
.mainFight .items .team_2 .avatar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: black;
    overflow: hidden;
}
.mainFight .items .team_2 img {
    width: 60px;
    margin-right: 20px;
}
.mainFight .items .team_1 img {
    width: 60px;
    margin-left: 20px;
}
.mainFight .items .fightRound {
    position: relative;
    margin: 0 40px;
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: 'KdamThmor-Regular' !important;
}
.mainFight .items .fightRound::after {
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-left: 2px solid red;
}
.mainFight .items .fightRound::after {
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-left: 2px solid silver;
}
.mainFight .items .fightRound::before {
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-right: 2px solid silver;
}
.winnerMain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Rajdhani-Light';
    color: white;
    text-align: center;
    border-radius: 0 50px 0 50px;
    padding: 20px;
    display: none;
}
.winnerMain.team2 {
    border-left: 4px solid forestgreen;
    border-right: 4px solid forestgreen;
}
.winnerMain.team1 {
    border-left: 4px solid red;
    border-right: 4px solid red;
}
.winnerMain::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 50px 0 50px;
    background-color: rgba(255, 255, 255, 0.1);
    filter: blur(20px);
}
.winnerMain .title {
    font-size: 40px;
    font-weight: bold;
}
.winnerMain .score {
    font-size: 50px;
    margin: 20px;
    font-weight: bolder;
}
.winnerMain .winner {
    position: relative;
    font-size: 70px;
    color: white;
    font-weight: bolder;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
}
.winnerMain .winner.team1::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 30%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.5);
    filter: blur(15px);
    z-index: -1;
}
.winnerMain .team.team1 {
    position: relative;
    font-size: 100px;
    color: red;
    text-shadow: 0px 0px 10px red;
}
.winnerMain .team.team1::after {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(255, 100, 100, 0.5);
    text-shadow: 0px 0px 30px rgba(255, 100, 100, 0.8);
}
.winnerMain .winner.team2::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 30%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 255, 0, 0.5);
    filter: blur(15px);
    z-index: -1;
}
.winnerMain .team.team2 {
    position: relative;
    font-size: 100px;
    color: red;
    text-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5);
}
.winnerMain .team.team2::after {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(0, 255, 0, 0.8);
    text-shadow: 0px 0px 30px rgba(0, 255, 0, 0.8);
}
.freezeTimer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300px;
    color: rgba(255, 255, 255, 0.4);
    font-weight: bolder;
}
@keyframes timerfade {
    0% {
        transform: scale(0.1);
        text-shadow: 0px 0px 0px transparent;
    }
    100% {
        transform: scale(1.0);
        text-shadow: 0px 0px 20px rgba(255, 0, 0, 0.5);
    }
}
@keyframes go {
    0% {
        transform: scale(0.1);
        text-shadow: 0px 0px 0px transparent;
    }
    100% {
        transform: scale(1.0);
        text-shadow: 0px 0px 30px forestgreen;
    }
}
.freezeTimer .item {
    transform: scale(1.0);
}
.freezeTimer .item { animation: timerfade 0.8s ease-out; }
.freezeTimer .go { animation: go 0.8s ease-out; }
.showallfight {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    width: 500px;
}
.showallfight .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 97px;
    z-index: -1;
    background-image: url("https://media2.giphy.com/media/dvOHokHPLbfT6la32T/giphy.gif?cid=ecf05e47bff3eyb1wtvc45u5x324dhi0k3uznyddvbdvr3p9&rid=giphy.gif&ct=g");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale();
    opacity: 0.5;
    border-radius: 5px;
}
.showallfight .title {
    font-size: 30px;
    text-align: center;
    color: white;
    margin: 20px 0;
}
.showallfight .container {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
}
.showallfight .container .item {
    position: relative;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 5px 0;
}
.showallfight .container .item .items {
    display: flex;
}
.showallfight .container .item .team1, .showallfight .container .item .team2 {
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.showallfight .fightname {
    text-align: center;
    color: white;
    font-weight: bold;
}
.showallfight .container .result, .showallfight .container .user {
    font-size: 15px;
}
.showallfight .container::-webkit-scrollbar { width: 5px; }
.showallfight .container::-webkit-scrollbar-track { background: rgba(0, 0, 0, 0); }
.showallfight .container::-webkit-scrollbar-thumb { background-color: black; border-radius: 20px; border: 3px solid rgba(0, 0, 0, 0.5); }
.showallfight .container .item.playing::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 10px 0 10px -10px rgba(0, 255, 0, 0.6);
    z-index: -1;
}
.showallfight .container .item.playing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    box-shadow: -10px 0 10px -10px rgba(0, 255, 0, 0.6);
    z-index: -1;
}
.showallfight .container .item.notplaying::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 10px 0 10px -10px rgba(255, 0, 0, 0.6);
    z-index: -1;
}
.showallfight .container .item.notplaying::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    box-shadow: -10px 0 10px -10px rgba(255, 0, 0, 0.6);
    z-index: -1;
}